{%extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Drivers{% endblock %}
{% block sub-menu %}
    <div class="navbar top-menu">
		<ul class="nav navbar-nav sub-menu">
            <a href="{% url 'accidents_list' %}">
                <button type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Accidents List
                </button>
            </a>
            <a href="{% url 'add_accident' %}">
                <button type="button" class="btn btn-default btn-md active">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Report Accident
                </button>
            </a>
        </ul>
	</div>
{% endblock %}
{% block content %}
     <style>
        .panel-body {
            height: 70vh;
            overflow: auto;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong style="font-size: medium">New Accident Details</strong>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                       {% csrf_token %}
                        {% crispy form %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}