{%extends 'base.html' %}
{% block title %}Location{% endblock %}
{% block content %}
	<div class="navbar top-menu">
		<ul class="nav navbar-nav sub-menu">

		</ul>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="map-canvas">
                    <script>
                        window.lat = -6.1685778;
                        window.lng = 35.7238698;
                        var map;
                        var mark;
                        var lineCoords = [];

                        var initialize = function() {
                            map  = new google.maps.Map(document.getElementById('map-canvas'), {center:{lat:lat,lng:lng},zoom:12});
                            mark = new google.maps.Marker({position:{lat:lat, lng:lng}, map:map});
                            lineCoords.push(new google.maps.LatLng(window.lat, window.lng));
                        };

                        window.initialize = initialize;

                        var redraw = function(payload) {
                            lat = payload.message.lat;
                            lng = payload.message.lng;
                            map.setCenter({lat:lat, lng:lng, alt:0});
                            mark.setPosition({lat:lat, lng:lng, alt:0});
                            lineCoords.push(new google.maps.LatLng(lat, lng));

                            var lineCoordinatesPath = new google.maps.Polyline({
                                path: lineCoords,
                                geodesic: true,
                                strokeColor: '#2E10FF'
                            });

                            lineCoordinatesPath.setMap(map);
                        };

                        var pnChannel = "map-channel";

                        var pubnub = new PubNub({
                            publishKey: 'pub-c-b33fa952-936f-4190-afd3-2da19a3c5375',
                            subscribeKey: 'sub-c-39abb1b2-0235-11e7-b54e-0619f8945a4f'
                        });

                        pubnub.subscribe({channels: [pnChannel]});
                        pubnub.addListener({message:redraw});

                        setInterval(function() {
                            pubnub.publish({channel:pnChannel, message:{lat:window.lat + 0.001, lng:window.lng + 0.01}});
                        }, 5000);
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}